<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/style.css">



</head>

<body>
    <div class="container">
        <h2>Login</h2>
        <form action="login" method="post" class="form">

            <table>
                <tr>
                    <td><label>Name : </label></td>
                    <td><input type="text" id="name" name="username" placeholder="Enter the name"></td>
                </tr>

                <tr>
                    <td>
                        <label>Password : </label>
                    </td>
                    <td><input type="password" name="password" id="password" placeholder="Enter the password"></td>

                </tr>

                <tr>
                    <td><button type="submit" class="submit-btn">Login</button></td>
                    <td>
                        <p>Don't have an account? <a href="signUp">signUp</a></p>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form action="login" method="post" class="form">
            <!-- Form content here -->
            <table>
                <tr>
                    <td><label>Name : </label></td>
                    <td><input type="text" id="name" name="username" placeholder="Enter the name"></td>
                </tr>

                <tr>
                    <td>
                        <label>Password : </label>
                    </td>
                    <td><input type="password" name="password" id="password" placeholder="Enter the password"></td>

                </tr>

                <tr>
                    <td><button type="submit" class="submit-btn">Login</button></td>
                    <td>
                        <p>Don't have an account? <a href="signUp">signUp</a></p>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
